# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Pull csv from Part I
city_data = pd.read_csv('city_data.csv')
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Tasiilaq,65.61,-37.64,30.20,42,0,3.36,GL,1604373582
1,1,Qaanaaq,77.48,-69.36,9.45,81,100,5.32,GL,1604373583
2,2,Namatanai,-3.67,152.43,84.06,73,73,4.70,PG,1604373584
3,3,Ostrovnoy,68.05,39.51,42.21,82,100,29.71,RU,1604373331
4,4,Yulara,-25.24,130.99,96.80,12,0,12.75,AU,1604373586

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = city_data[['Lat', 'Lng']]

# Fill NaN values and convert to float
humidity = city_data['Humidity'].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Drop cities where:
# Max Temp is lower than 70
# Max Temp is greater than 80
# Wind speed is over 5mph
# Cloudiness is greater than 0

unfit_city = city_data[(city_data['Max Temp'] < 70) |
                      (city_data['Max Temp'] > 80) |
                      (city_data['Wind Speed'] > 5) |
                      (city_data['Cloudiness'] > 0)].index

city_data.drop(unfit_city, inplace=True)

city_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
151,151,Bobo-Dioulasso,11.18,-4.30,78.80,57,0,2.24,BF,1604373755
390,390,Sakaraha,-22.90,44.53,73.54,49,0,4.90,MG,1604374015
426,426,Sur,22.57,59.53,72.52,43,0,2.53,OM,1604374053
477,477,Odienné,9.51,-7.57,73.22,68,0,3.40,CI,1604374107
508,508,Ambilobe,-13.20,49.05,70.18,69,0,4.81,MG,1604374141
535,535,Yavaros,26.70,-109.52,70.00,47,0,3.00,MX,1604374170
546,546,Flinders,-34.58,150.86,73.99,60,0,4.00,AU,1604373980

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Drop column 'Unnamed: 0'
hotel_df = city_data.drop('Unnamed: 0', axis=1)

# Add column 'Hotel Name'
hotel_df['Hotel Name'] = ''

hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
151,Bobo-Dioulasso,11.18,-4.30,78.80,57,0,2.24,BF,1604373755,
390,Sakaraha,-22.90,44.53,73.54,49,0,4.90,MG,1604374015,
426,Sur,22.57,59.53,72.52,43,0,2.53,OM,1604374053,
477,Odienné,9.51,-7.57,73.22,68,0,3.40,CI,1604374107,
508,Ambilobe,-13.20,49.05,70.18,69,0,4.81,MG,1604374141,
535,Yavaros,26.70,-109.52,70.00,47,0,3.00,MX,1604374170,
546,Flinders,-34.58,150.86,73.99,60,0,4.00,AU,1604373980,

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "keyword": "hotel",
    "type": "lodging",
    "radius": 5000,
    "key": g_key
}

In [8]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get coordinates from df
    lat = row['Lat']
    lng = row['Lng']
    
    city = row['City']
    
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
             
    except (KeyError, IndexError):
        print("Can't find result... skipping.")
        
    print("------------")

Retrieving Results for Index 151: Bobo-Dioulasso.
Closest hotel is Hôtel L´Auberge ***.
------------
Retrieving Results for Index 390: Sakaraha.
Closest hotel is Palace Club.
------------
Retrieving Results for Index 426: Sur.
Closest hotel is Sur Plaza Hotel.
------------
Retrieving Results for Index 477: Odienné.
Closest hotel is Résidence Palace Hôtel.
------------
Retrieving Results for Index 508: Ambilobe.
Closest hotel is Hotel National.
------------
Retrieving Results for Index 535: Yavaros.
Can't find result... skipping.
------------
Retrieving Results for Index 546: Flinders.
Closest hotel is Eternity 141.
------------

In [9]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
151,Bobo-Dioulasso,11.18,-4.30,78.80,57,0,2.24,BF,1604373755,Hôtel L´Auberge ***
390,Sakaraha,-22.90,44.53,73.54,49,0,4.90,MG,1604374015,Palace Club
426,Sur,22.57,59.53,72.52,43,0,2.53,OM,1604374053,Sur Plaza Hotel
477,Odienné,9.51,-7.57,73.22,68,0,3.40,CI,1604374107,Résidence Palace Hôtel
508,Ambilobe,-13.20,49.05,70.18,69,0,4.81,MG,1604374141,Hotel National
535,Yavaros,26.70,-109.52,70.00,47,0,3.00,MX,1604374170,
546,Flinders,-34.58,150.86,73.99,60,0,4.00,AU,1604373980,Eternity 141

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))